#brand{
    margin: auto;
    width: 80%;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#brand label {
    font-size: 13px;
}

#brand select {
    margin: 5px;
    font-size: 10px;
    width: 70%;
}
